function add(a,b){
  return a + b;
}

function formatDate(date){
  var d = date===undefined ? getDate() : getDate(date);// new Date(date)
  var year = d.getFullYear();
  var month = d.getMonth()+1;
  var day = d.getDate();

  return year + '-' + month + '-' + day;
}

module.exports = {
  add:add,
  formatDate:formatDate
}